01/assignment-01.aux
01/assignment-01.log
01/assignment-01.pdf
01/hw1v2_2018.pdf
02/assignment-02.aux
02/assignment-02.log
02/assignment-02.pdf
02/hw2_2018.pdf
02/matlab/cg.jpg
02/matlab/conjugate.m
02/matlab/firstorder_heresy.m
02/matlab/firstorder_original.m
02/matlab/four-algo.jpg
02/matlab/function_test.m
02/matlab/linsearch.m
02/matlab/nesterov.m
02/matlab/output.txt
02/matlab/steepest.m
02/texput.log
03/assignment-03.aux
03/assignment-03.log
03/assignment-03.pdf
03/back_feval.png
03/back_geval.png
03/back_iter.png
03/back_obja.txt
03/back_objb.txt
03/back_output.png
03/back_rosenbrock.txt
03/ls_feval.png
03/ls_geval.png
03/ls_iter.png
03/ls_obja.txt
03/ls_objb.txt
03/ls_output.png
03/ls_rosenbrock.txt
03/matlab/__pycache__/
03/matlab/back_banana.dat
03/matlab/back_feval.png
03/matlab/back_geval.png
03/matlab/back_iter.png
03/matlab/back_obja.dat
03/matlab/back_objb.dat
03/matlab/back_rosenbrock.dat
03/matlab/descentBacktrack.m
03/matlab/descentBacktrack_2.m
03/matlab/descentLS.m
03/matlab/descentLS_2.m
03/matlab/ls_banana.dat
03/matlab/ls_feval.png
03/matlab/ls_geval.png
03/matlab/ls_iter.png
03/matlab/ls_obja.dat
03/matlab/ls_objb.dat
03/matlab/ls_rosenbrock.dat
03/matlab/obja.m
03/matlab/objb.m
03/matlab/rosenbrock.m
03/prob1.jpg
03/texput.log
04/assignment-04.aux
04/assignment-04.log
04/assignment-04.pdf
04/texput.log
05/assignment-05.aux
05/assignment-05.log
05/assignment-05.pdf
05/hw5_2018.pdf
05/matlab/DoglegMain.m
05/matlab/obja.m
05/matlab/objb.m
05/matlab/objc.m
03/matlab/EBLS_efficient.m
06/assignment-06.aux
06/assignment-06.log
06/assignment-06.pdf
06/matlab/EBLS_efficient.m
06/matlab/EBLS_old.m
06/matlab/nonlinearcg.m
06/matlab/nonlinearcg_debug.m
06/matlab/xpowsing.m
